{% extends 'base.html' %}

{% block title %} New User Form {% endblock %}

{% block content %}

<h1>Create a user</h1>

<form method='POST' action=''>
    <p><label>First Name </label><input placeholder="Enter a first name" name="first_name" maxlength="50"></p>
    <p><label>Last Name </label><input placeholder="Enter a last name" name="last_name" maxlength="50"></p>  
    <p><label>Image URL </label><input placeholder="Provide an image of this user" name="image_url"></p>
    <input type='submit' value='Add'>
</form>

{% endblock %}